*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
    background:#111827;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
}

.hero h1{
    font-size:60px;
}

.hero span{
    color:#38bdf8;
}

.hero h3{
    margin-top:15px;
    color:#cbd5e1;
}

.hero p{
    max-width:650px;
    margin:25px auto;
    line-height:1.8;
    color:#94a3b8;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:8px;
    background:#38bdf8;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#0284c7;
    transform:translateY(-3px);
}